# streamlit== 1.10.0  
pandas== 1.3.5
numpy==1.21.6
scikit-learn== 1.0.2
pylint==2.7.4
pytest==6.2.3
joblib>=0.14
# fastapi uvicorn[standard]
#fastapi uvicorn
fastapi==0.85.0
uvicorn
asyncpg
psycopg2-binary
uvloop
httptools
gunicorn
click
h11
websockets
pydantic>=1.2.0,<2.0.0
starlette
typing-extensions
six
wrapt
